  body
  {
    background-color: #EAF6F6
  }
  hr
  { border-style: none;
    border-width: thick;
    border-top-style: dotted;
    width: 50px;
    border-color: grey;
  }
  h1{
    color: #66BFBF;
  }
  h3{
    color: #66BFBF;
  }
